body{
    background-color: blueviolet;
    text-align: center;
    height: 20px;
}

    
.forums li{
    width: 1150px;
    border: 500px;
    height: 50px;
    background-color: darkblue;
    margin-right: 300px;
    color: white;
}